{{extend 'layout.html'}}

<br> <h1>Advanced Android</h1> <br>
<h3> 2 day (> 8 hr hands-on) </h3> <br>


<table class="table table-bordered table-striped">
<tbody><tr>
        <th style="width: 30%"><h4>Topic</h4></th>
        <th style="width: 55%"><h4>Content</h4></th>
        <th style="width: 15%"><h4>Duration</h4></th>
</tr>

<tr>
<td>Setting up debugging environment</td>
<td>Downloading and installing Android developer tools<br>
        Setting up udev rules for non root user
</td><td>30 mins</td>
</tr>

<tr>
<td>ADB and options, exploring Busybox</td>
<td>Exploring adb commands: adb push, adb pull, adb shell, adb logcat etc <br>
        Exploring adb scripting commands: adb start-server, adb reboot-bootloader etc</td>
<td>40 mins</td>
</tr>

<tr>
<td>Activity manager, package manager</td>
<td>Exploring packages installed using 'adb shell pm' <br>
        Controlling system activity using 'adb shell am'
        Exploring 'Busybox' programs</td>
<td>30 mins</td>
</tr>

<tr>
<td>Automate jobs using shell scripts</td>
<td>Writing simple shell scripts to access/monitor Android remotely<br>
        Modifying/exploring Android init/startup scripts</td>
<td>30 mins</td>
</tr>

<tr>
<td>Interfacing Android with external hardwares</td>
<td> Connecting hardwares to Android<br>
         Exploring sensors and using them in projects</td>
<td>30 mins</td>
</tr>
<tr>
<td>Rooting mechanism</td>
<td>Understanding rooting, few popular techniques<br>
        Pros &amp; cons: apps using root access</td>
<td>40 mins </td>
</tr>

<tr>
<td>Recovery &amp; custom ROMs</td>
<td>Partition structure in typical android installation <br>
    Accessing bootloader and recovery partition<br>
        Installing custom ROMs, backup and restore of ROMs </td>
<td> 90 mins </td>
</tr>

<tr>
<td>Hacking Android's sqlite database</td>
<td>Fixing lost settings/passwords<br>
         Adding new entries to db, exploring/modifying default values</td>
<td>40 mins </td>
</tr>

<tr>
<td>Headless Android and benefits</td>
<td>Android as an embedded OS <br>
        Disabling DVM and optimizing RAM </td>
<td>40 mins </td>
</tr>

<tr>
<td>Downloading &amp; configuring Android source</td>
<td>Cloning desired source branch from git<br>
        Package required to compile OS</td>
<td>30 mins </td>
</tr>

<tr>
<td>Customizing, compiling and testing Android images</td>
<td>Tweaking Android source for custom needs<br>
        Compiling source and testing on qemu-emulator</td>
<td>80 mins </td>
</tr>

<tr>
<td>Compiling other binaries for android </td>
<td>Setting up android SDK and cross-compiling C/C++ programs<br>
        Scope of Android NDK and its use</td>
<td>50 mins</td>
</tr>
</tbody></table>
