{{extend 'layout.html'}}

<br> <h1> Web Frameworks </h1> <br>
<h3> 2 day (> 8 hr hands-on) </h3> <br>

<table class="table table-bordered table-striped">
<tbody><tr>
        <th style="width: 30%"><h4>Topic</h4></th>
        <th style="width: 55%"><h4>Content</h4></th>
        <th style="width: 15%"><h4>Duration</h4></th>
</tr>

<tr>
<td>Introduction to Internet</td>
<td>History &amp; working of Internet: switches &amp; routers <br>
        World wide web, DNS &amp; IP address</td>
<td>30 mins</td>
</tr>

<tr>
<td>Domain names &amp; shared web hosting</td>
<td>Hosting website: public &amp; private IPs, domain names, shared/dedicated hosting<br>
        Purchasing online domain names and web hosting</td>
<td>50 mins</td>
</tr>

<tr>
<td>DNS Management</td>
<td>Exploring MX, CNAME, NS records<br>
    Domain &amp; subdomain forwarding, URL masking </td>
<td> 30 mins </td>
</tr>


<tr>
<td>Setting Wordpress &amp; other CMS</td>
<td>Setting up Wordpress/Drupal/Joomla using web interface<br>
        Installing plugins and customizing look</td>
<td>90 mins</td>
</tr>

<tr>
<td>Databases &amp; backups</td>
<td>
        Using MySQL database for CMS<br>
        Using web interface to backup/restore databases<br>
        Scheduling backup using cron jobs</td>
<td>20 mins</td>
</tr>

<tr>
<td>Web server setup in dedicated hosting</td>
<td>Installing Ubuntu/CentOS server and configuring Apache <br>
        Setting up other mail server &amp; other packages </td>
<td>70 mins</td>
</tr>


<tr>
<td>Basic HTML5, CSS3 website. SEO and monetizing site</td>
<td>A simple website with basic functionality <br>
        Customizing opensource html5 templates, using basic javascript<br>
        Using SEO tools to maximize traffic and monetizing </td>
<td>50 mins </td>
</tr>

<tr>
<td>Using web frameworks for interactive sites</td>
<td>Exploring various web development frameworks<br>
        Writing a simple Bash cgi script to handle Get &amp; Post request</td>
<td>40 mins</td>
</tr>

<tr>
<td>Learning Python for web development </td>
<td>Python programming in one hour <br>
        Exploring Python programming for web development<br>
        </td>
<td>60 mins</td>
</tr>

<tr>
<td>Web2Py server in 5 minutes</td>
<td>Exploring Django &amp; Web2Py as Python frameworks <br>
        Customizing Web2Py server  </td>
<td>30 mins</td>
</tr>

<tr>
<td>Network/system monitoring commands </td>
<td>Frequently used network &amp; system monitoring commands<br>
        Writing simple Bash scripts to automate tasks</td>
<td> 30 mins</td>
</tr>
</tbody></table>
